@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-moz-selection {
  background: #f9b301;
  color: #000;
}

::selection {
  background: #f9b301;
  color: #000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f9b301;
}

.container {
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 2rem;
}

.container .background-stylish-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9b301;
  width: 30%;
  height: 100%;
}

.container .heading {
  width: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .heading .icons {
  margin-right: 5rem;
}

.container .heading .icons img {
  margin-right: 3rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .heading .icons img:last-child {
  margin-right: 0;
}

.container .heading nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .heading nav .navigation {
  position: relative;
  margin-right: 3rem;
  cursor: pointer;
}

.container .heading nav .navigation p {
  position: relative;
  font-weight: 500;
  z-index: 2;
  padding: 0 .2rem;
}

.container .heading nav .navigation:last-child {
  margin-right: 0;
}

.container .heading nav .navigation:hover .underline, .container .heading nav .navigation:focus .underline {
  width: 100%;
}

.container .heading nav .navigation .underline {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 0%;
  height: 8px;
  background-color: #f9b301;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin-top: 2rem;
}

.container section img {
  width: 300px;
  height: 300px;
  background-color: black;
  margin-right: 2rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container section .content {
  height: 300px;
  margin-right: 2rem;
}

.container section .content h1 {
  margin-top: 0.5rem;
  font-size: 30px;
}

.container section .content .details {
  margin: 1rem 0 2rem 0;
}

.container section .content .details p {
  margin-bottom: 0.2rem;
  font-size: 15px;
}

.container section .content .details p:last-child {
  margin-bottom: 0;
}

.container section .content .sub-title {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1rem 1rem;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container section .content .news-letter {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container section .content .news-letter input {
  padding: 0.5rem 1rem;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container section .content .news-letter button {
  border: none;
  background-color: #f9b301;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid #f9b301;
}

.container section .content .news-letter button:hover {
  -webkit-box-shadow: 0 0 10px 2px #f9b301;
          box-shadow: 0 0 10px 2px #f9b301;
}
